/* ****Start Mobile first**** */

/* @media (max-width: 500px) { */
.navbar_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  padding-left: 20px;
  padding-top: 10px;
}

.navbar_logo a {
  font-size: 26px;
  text-decoration: none;
  color: rgb(41, 41, 106);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_botton {
  cursor: pointer;
}

.dropdown_buttom {
  position: relative;
  display: inline;
}

.drop_downbtn {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.drop_downbtn a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

.drop_downbtn a:hover {
  background-color: rgb(69, 69, 183);
}

.dropdown_buttom:hover .drop_downbtn {
  display: block;
}

.About {
  background-image: url(./image/header-shapes-mobile.png);
  background-size: 100%;
  background-repeat: no-repeat;
  font-weight: 400;
  padding: 10px;
  color: rgb(41, 41, 106);
  font-size: 25px;
  padding-top: 100px;
  height: 718px;
  width: 100%;
}

.my-name {
  width: 100%;
  font-size: 45px;
  font-weight: 900;

  /* font-family: "Poppins"; */
  font-style: normal;
}

.social_media {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

ul {
  padding: 0;
  margin: 0;
}

.social_media_list a img {
  padding: 20px, 20px, 20px 0;
  width: 25px;
  height: 25px;
}

.connect {
  font-size: 19px;
  color: #7f8cff;
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
  font-weight: 100;
}

.work {
  color: rgb(41, 41, 106);
  font-family:
    "Lucida Sans",
    "Lucida Sans Regular",
    "Lucida Grande",
    "Lucida Sans Unicode",
    Geneva,
    Verdana,
    sans-serif;
}

/* .work img {
  width: 100%;
  padding-top: 10px;
}

.work h1 {
  color: rgb(41, 41, 106);
  font-weight: bold;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  list-style-type: circle;
  list-style-position: outside;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  text-decoration: none;
  list-style: none;
} */

/* .btn {
  height: 30px;
  font-size: 15px;
}

.btn a {
  text-decoration: none;
  color: rgb(104, 143, 215);
  font-weight: 600;
}

.btn a:hover {
  color: blanchedalmond;
} */

/* } */
